{# layout.html.twig #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Instruments de musique{% endblock %}</title>

    <link rel="stylesheet" href="/assets/style.css"> 
    <link rel="icon" href="/assets/images/favicon.png">
</head>

<body>
<h1>{% block h1 %}Instruments de musique{% endblock %}</h1>
    <nav>
      {% block nav %}
        <ul>
            <li>Accueil</li>
            <li><a href='product.php'>Les instruments de musique</a></li>
            <li>Contactez-nous !</li>
            <li>En savoir +</li>
        </ul>
        {% endblock %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
